.link{
    display: inline-block;
    text-decoration: none;
    color: white;
    margin: 0 10px;
    font-size: 20px;
    position: relative;
}
.link::after{
   position: absolute;
   content: '';
   bottom: 0;
   left: 0;
   right: 0;
   height: 2px;
   background-color: red;
   transform: scaleX(0);
   /* transform-origin: left; */
   transition: all .6s;
}
.link:hover.link::after{
    transform: scaleX(1);
}
.dropdown-content{
    display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content .link {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown:hover .dropdown-content{
    display: block;
  }
  